.company-events-container {
    padding: 140px;
    font-family: 'Poppins', sans-serif;
}

header h1 {
    font-size: 34px;
    font-weight: 900;
    color: #2A43FF;
}

.highlight {
    color: #E96124;
}

.role {
    font-size: 20px;
    color: rgba(42, 67, 255, 0.6);
}

.add-event {
    margin: -0px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-event-button {
    text-decoration: none;
    margin-right: 10px;
}

.plus-button {
    background: #f9f9ff;
    border: none;
    color: #E96124;
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.plus-button:hover {
    background: #e4e4e4;
    color: #db4602;
    font-size: 20px;
}

