body {
    background-color: white;
    font-family: 'Lexend', sans-serif;
    color: #2A43FF;
    height: 100vh;
    margin: 0;
}


#form-title {
    font-size: 24px;
    margin: 0;
    margin-top: -20px;
}
.company-text{
    color: #8894EB;
    font-size: 18px;
    margin-top: 5px;
}

.form-container {
    background: #F4F6FF;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#post-event-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
#post-event-label {
    font-size: 14px;
    font-weight: 600;
    color: #2A43FF;
    margin: 0px 0px -20px 0px;
    text-align: left;
}
#post-event-label::after {
    content: '*';
    color: #F4F6FF;
    margin-left: 3px;
}
#required-star {
    color: #F7560E;
}
.post-event-input {
    width: 155%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #2A43FF;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    color: #8894EB;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
    text-align: left;
    margin: 0px 0px 5px 0px;
}
.post-event-input::placeholder {
    color: rgba(42, 67, 255, 0.6);
}
.post-event-input:focus {
    border-bottom: 1px solid #F7560E;
}
#event-description {
    width: 155%;
    height: 60px;
    padding: 12px;
    border: 1px solid #2A43FF;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    color: #8894EB;
    background-color: transparent;
    border-radius: 5px;
    resize: none;
    margin-top: 10px;
}
#event-description:focus {
    border: 1px solid #F7560E;
}
.event-date-location-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
.event-date-location-container input {
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 300px;
    border: 1px solid #2A43FF;
    border-radius: 5px;
    height: 25px;
    padding: 5px 15px;
}
.event-date-location-container input:focus {
    border: 1px solid #F7560E;
}
#event-location {
    width: 200px;
}
#location-img {
    width: 26px;
}
#date-img {
    width: 30px;
}
#post-button {
    background: #E96124;
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
    font-family: "lexend";
}
#post-button:hover {
    color: #E96124;
    background: #ffbb9b;
    font-weight: 700;
}