.company-events-container {
    padding: 100px;
    font-family: 'Poppins', sans-serif;
}

.event-details-container {
    background: #f9f9ff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden; 
}

.event-details-container h2 {
    font-size: 30px;
    color: #E96124;
    margin-bottom: 16px;
    font-weight: 700;
}

.event-details-container p {
    color: #2A43FF;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 12px;
}

.event-volunteers {
    font-size: 18px;
    font-weight: 700;
    color: #E96124; 
}

.event-volunteers span {
    font-size: 32px;
    margin-right: 10px;
    color: #E96124; 
}

.event-detail-item {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 25px;
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.detail-item img {
    width: 24px;
    height: 24px;
}

.detail-item .location {
    width: 22px;
    height: 25px;
}

.deadline-section {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.deadline-section span {
    font-size: 16px;
    font-weight: bold;
    color: #E96124;
}

.deadline-section img {
    width: 24px;
    height: 24px;
}

.button-group {
    margin-top: auto;
    display: flex;
    gap: 16px;
}

.button-group button {
    background: #E96124;
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
    font-family: "lexend";
}

.button-group button:hover {
    color: #E96124;
    background: #ffbb9b;
    font-weight: 700;
}

.apply-button {
    background: #2A43FF;
    color: white;
}

.apply-button:hover {
    background: #1A30CC;
}

.applicants-button {
    background: #E96124;
    color: white;
}

.applicants-button:hover {
    background: #CC4A1A;
}

.edit-button {
    background: #2A43FF;
    color: white;
}

.delete-button {
    background: #FF4444;
    color: white;
}

.delete-button:hover {
    background: #CC3636;
}