.event-container{
    margin-top: 38px;
    margin-left: 10px;
   
}
.apply-button {
    background: #E96124;
    color: white;
    padding: 13px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'lexend', sans-serif;
}

.apply-button:hover {
    color: #E96124;
    background: #ffbb9b;
    font-weight: 700;
}

.buttons-container{
    display: flex;
}





