select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #2A43FF;
    pointer-events: none;
}

.form-group {
    margin-bottom: 0.5rem;
}

input, select {
    padding: 10px 0;
    font-size: 0.9rem;
}

.auth-button {
    padding: 10px;
    font-size: 1rem;
    margin-top: 0.5rem;
}